<div class="flex justify-center py-3">
  <div class="flex flex-col items-center">
    <div class="flex gap-3">
      <button
        id="anteriorBtn"
        class="px-6 py-2 border rounded bg-primary text-white hover:bg-primary/80"
        >Anterior</button
      >
      <button
        id="siguienteBtn"
        class="px-6 py-2 border rounded bg-primary text-white hover:bg-primary/80"
        >Siguiente</button
      >
    </div>
    <span id="pageInfo" class="text-sm text-gray-500">1 de 1</span>
  </div>
</div>
