---
import LayoutDashboard from "@layouts/Layout.Dashboard.astro";
import FinanceCharts from "@components/FinanceCharts.astro";
---

<LayoutDashboard>
  <h1>Gráficos</h1>
  <FinanceCharts />
</LayoutDashboard>
