---
import LayoutDashboard from "@layouts/Layout.Dashboard.astro";
import ExpensesListView from "@components/ListView.astro/ExpensesListView.astro";
---

<LayoutDashboard>
  <h1>Gastos</h1>
  <ExpensesListView />
</LayoutDashboard>
