---
import LayoutDashboard from "@layouts/Layout.Dashboard.astro";
import IncomeListView from "@components/ListView.astro/IncomeListView.astro";
---

<LayoutDashboard>
  <h1>Ingresos</h1>
  <IncomeListView />
</LayoutDashboard>
