---
import DashboardLayout from "@layouts/Layout.Dashboard.astro";
import FinanceForm from "../../components/FinanceForm.astro";
import FinanceRecently from "../../components/ListView.astro/RecentlyListView.astro";
---

<DashboardLayout>
  <main class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-6">Mis Finanzas Personales</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Formulario de transacciones -->
      <div class="md:col-span-1">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-xl font-semibold mb-4">Nueva Transacción</h2>
          <FinanceForm />
        </div>
      </div>

      <!-- Lista de transacciones -->
      <div class="md:col-span-2">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-xl font-semibold mb-4">Lista de Transacciones</h2>
          <FinanceRecently />
        </div>
      </div>
    </div>
  </main>
</DashboardLayout>
