---
import Pagination from "@components/share/Pagination.astro";
---

<!-- <Container title="Transacciones de Gastos"> -->
<div id="transactions">
  <!-- Transactions will be inserted here by JavaScript -->
</div>

<Pagination />

<script>
  import { getTransactions } from "src/utils/storage";
  import { paginateTransactions } from "src/utils/pagination";

  const transactions = getTransactions();
  const expenses = transactions.filter((t) => t.type === "expense");
  paginateTransactions(expenses);
</script>
