---
import Pagination from "@components/Pagination.astro";
import Container from "@components/Container.astro";
---

<Container title="Transacciones de Ingresos">
  <div id="transactions">
    <!-- Transactions will be inserted here by JavaScript -->
  </div>

  <Pagination />
</Container>

<script>
  import { getTransactions } from "src/utils/storage";
  import { paginateTransactions } from "src/utils/pagination";

  const transactions = getTransactions();
  const income = transactions.filter((t) => t.type === "income");
  paginateTransactions(income);
</script>
