---
import Pagination from "@components/Pagination.astro";
import Container from "@components/Container.astro";
---

<Container title="Transacciones Recientes">
  <div id="transactions">
    <!-- Transactions will be inserted here by JavaScript -->
  </div>

  <Pagination />
</Container>

<script>
  import { getTransactions } from "src/utils/storage";
  import { paginateTransactions } from "src/utils/pagination";
  import {
    getTransactionsToday,
    sortTransactionsByCreated,
  } from "src/utils/lib";
  import { EVENT_NAME } from "src/utils/config";

  const transactions = getTransactions();
  const transactionsToday = getTransactionsToday(transactions);
  const transactionSort = sortTransactionsByCreated(transactionsToday);
  paginateTransactions(transactionSort);

  window.addEventListener(EVENT_NAME.TRANSACTIONS_UPDATED, () => {
    const transactions = getTransactions();
    const transactionsToday = getTransactionsToday(transactions);
    const transactionSort = sortTransactionsByCreated(transactionsToday);
    paginateTransactions(transactionSort);
  });
</script>
