---
const { title } = Astro.props;
---

<div class="bg-white rounded-md shadow-sm overflow-hidden">
  <div class="shadow-sm p-4">
    <div style="padding: 1rem 1.5rem; border-bottom: 1px solid #e5e7eb;">
      <h2 class="text-xl font-semibold mb-4">{title}</h2>
    </div>
    <div style="border-top: 1px solid #e5e7eb;">
      <slot />
    </div>
  </div>
</div>
