<nav class="hidden md:flex flex-col mt-4">
  <a
    href="/dashboard/"
    class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
    >Dashboard</a
  >
  <a
    href="/dashboard/income"
    class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
    >Ingresos</a
  >
  <a
    href="/dashboard/expenses"
    class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
    >Gastos</a
  >
  <a
    href="/dashboard/charts"
    class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
    >Graficos</a
  >
</nav>
