---
import Layout from "./Layout.astro";
---

<Layout>
  <div class="min-h-screen flex">
    <header class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
        <div class="flex flex-col justify-between items-center">
          <a href="/" class="text-2xl font-bold text-indigo-600">Mi Economía</a>
          <nav class="hidden md:flex space-x-8 flex-col">
            <a
              href="/"
              class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
              >Inicio</a
            >
            <a
              href="/income"
              class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
              >Ingresos</a
            >
            <a
              href="/expenses"
              class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
              >Gastos</a
            >
            <a
              href="/charts"
              class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium"
              >Graficos</a
            >
          </nav>
          <button class="md:hidden">
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
      </div>
    </header>

    <div class="flex-grow">
      <slot />
    </div>
  </div>
</Layout>
