---
import FinanceTotals from "@components/FinanceTotals.astro";
import PrincipalLayout from "./Layout.astro";
import Nav from "@components/share/Nav.astro";
import IconComponent from "@components/Icons/IconComponent.astro";
import MenuIcon from "@components/Icons/MenuIcon.astro";
---

<PrincipalLayout>
  <div class="grid md:grid-flow-col md:grid-cols-6">
    <div class="hidden md:flex bg-white row-span-1">
      <div class="max-w-7xl mx-auto">
        <div class="flex flex-col md:px-4 md:py-2">
          <a href="/" class="text-2xl font-bold text-indigo-600">Mi Economía</a>
          <Nav />
        </div>
      </div>
    </div>

    <div class="bg-white col-span-12 md:col-span-5">
      <header class="hidden md:block sticky top-0 z-10 px-4 py-6">
        <FinanceTotals />
      </header>
      <div class="p-10 overflow-auto h-[calc(100vh-120px)] bg-gray-100">
        <slot />
      </div>
    </div>

    <!-- Mobile Navigation -->
    <div
      id="mobileNav"
      class="md:hidden absolute bg-white z-50 w-full shadow-lg transition-all duration-300 -right-full h-screen p-10"
    >
      <div class="flex flex-col gap-4">
        <a href="/" class="text-2xl font-bold text-indigo-600">Mi Economía</a>

        <Nav />

        <FinanceTotals />
      </div>
    </div>

    <div
      class="md:hidden fixed top-10 right-10 z-50 bg-[#bfdbfe] p-2 rounded-lg"
    >
      <button id="mobileNavBtn">
        <IconComponent color="currentColor" sizeX="24" sizeY="24">
          <MenuIcon />
        </IconComponent>
      </button>
    </div>
  </div>
</PrincipalLayout>

<script>
  const mobileNavBtn = document.getElementById("mobileNavBtn");

  if (mobileNavBtn) {
    mobileNavBtn.addEventListener("click", () => {
      const nav = document.getElementById("mobileNav");
      if (nav) {
        nav.classList.toggle("-right-full");
        nav.classList.toggle("right-0");
      }
    });
  }
</script>
